body{
    background-color: aliceblue;
    margin: 0% 10% 0% 10%;
    /* border: 1px solid black; */
    padding: 10px;
}

h2{
    text-align: center;
}

p{
    text-align: justify;
    color: red;
}

.ariana{
    height: 612px;
    width: 512px;
}

.camila{
    height: 512px;
    width: 720px;
}

.selina{
    height: 612px;
    width: 512px;
}